
<header class="contact-header">
    <img src="../../assets/normalNoBg.png" alt="">
</header>

<section class="contact-container">
    <p class="desc-text">Explore our website to discover a comprehensive range
 of industrial solutions that can elevate your projects to
 new heights. At Access Heights Trading, we go beyond
 supplying equipment – we deliver reliability, expertise,
 and unparalleled service to empower your success in
 every industrial undertaking.</p>
    <p class="sub-heading">send us a message</p>

    <form action="">
        <div>
            <label for="name">name</label>
            <input type="text" name="name" id="">
        </div>

        <div>
            <label for="email">email</label>
            <input type="email" name="email" id="">
        </div>

        <div>
            <label for="phone">phone</label>
            <input type="phone" name="phone" id="">
        </div>
        <div>
            <label for="message">message</label>
            <textarea rows="10" cols="40"  name="message" id=""></textarea>
        </div>
        <button>send message</button>
    </form>
</section>