    .about-header{
        height: 70vh;
        display: flex;
        place-content: center;
        background-color: var(--_black-clr);

        img{
            margin-top: 4rem;
            height: 90%;
            aspect-ratio: 1;
        }
    }

    .about-info{
        padding: 2rem 10%;

    }

    .ico{
        font-size: 1.5em;
        font-weight: 800;
        animation: shake 5s ease-in alternate infinite;
        text-shadow: 2px 2px var(--_main-clr-lighter);
    }

    @keyframes shake {
        0%, 25%{
            transform: translateX(0%);
        }
        30%{
            transform: translateX(5%);
        }
        35%{
            transform: translateX(-5%);
        }
        40%{
            transform: translateX(-5%);
        }
        70%, 100%{
            transform: translateX(0%);
        }
            }