.nav-top{
  width: 100vw;
  z-index:100;
  background-color: var(--_white-clr);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1rem;
  
  .logo{
    min-width: 100px;
    width: 20vw;
    max-width: 100px;
  
    img{
      width: 100%;
    }
  }
}

.quick-contact-details{
  display: flex;
  place-content: center;
  padding-block: 1rem .2rem;
  gap: 2em ;
  color: var(--_main-clr);
}
  
.header-nav{
  ul{
    margin: auto;
    display: flex;
    padding: 1rem 10%;
    max-width: 750px;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  li{
    display:inline;
    &:hover{
      text-decoration: underline .2rem ;
      text-underline-offset: 0.3rem;
    }
  }
}

.intro , footer{
  padding: 2rem 5%;
  margin: 2rem auto;
}

.about-us{
  margin: 2rem auto;

  .upper{
    padding: 2rem 5%;
    margin: 2rem auto;
    background-color: var(--_black-clr) ;
    p, h1{
      color: var(--_white-clr)
    }
  }

  .side-by-side{
    display: flex;
    gap: 1rem;

    .left{
      width:40%;
      max-width: 300px ;
      word-wrap: break-word;
      hyphens: auto;
      line-height: 1.7;
      text-align: right;
    }
  }
  
  p{
    line-height: 1.7;
  }

  .huge-text{
  text-align: left;
  font-size: 2rem;
  }
}
.key-words{
  margin: 2rem auto;
  .sub-heading{
    text-decoration: none;
    text-align: center;
     font-size: 2rem;
    opacity: .7;
  }
  .slidding-text{
    width: 100%;
    display: flex;
    gap: 2em;
    overflow: hidden;
  }
}
