<style>
  .dropdown {
  position: relative;
  display: inline-block;

  &::after{
     content:"";
    position: absolute;
    right: -15px;
    top: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width:  5px 5px 0 5px;
    border-color: #080501 transparent transparent  transparent;
    z-index:9999;

  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;

  p{
    margin: 1rem auto;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown.infocus .dropdown-content{
  display: block;
}
</style>

<section class="nav-top">
<div class="logo">
  <img src="../assets/normalNoBg.png" alt="">
</div>
  <div>
    <section class="quick-contact-details">
      <p>060 846 338</p>
      <p>info&#64;accessheightstrading.com</p>
    </section>
    <nav class="header-nav">
      <ul>
        <li routerLink="" routerLinkActive="active" title="home"><i class="lni lni-home"></i></li>
        <li routerLinkActive="active" title="catalog" (onclick)="toggledropdown($event)" class="dropdown ">
          <i class="lni lni-cart-full"></i>
          <div class="dropdown-content">
            <p routerLink="catalog/products" >products</p>
            <p routerLink="catalog/services" >services</p>
          </div>
        </li>
        <li routerLink="about-us" routerLinkActive="active" title="about us"><i class="lni lni-information"></i></li>
        <li routerLink="contact-us" routerLinkActive="active" title="contact us"><i class="lni lni-laptop-phone"></i></li>
      </ul>
    </nav>
  </div>
</section>

<router-outlet></router-outlet>
<footer>
  <p class="huge-text">
    discover a comprehensive range of industrial solutions that can elevate your
    projects to new heights.
  </p>
  <div>
    <div>
      <i class="lni lni-phone"></i>
      <p class="desc-text">060 846 338</p>
    </div>
    <div>
      <i class="lni lni-envelope"></i>
      <p class="desc-text">info&#64;accessheightstrading.com</p>
    </div>
    <div>
      <i class="lni lni-envelope"></i>
      <p class="desc-text">sales&#64;accessheightstrading.com</p>
    </div>
    <div>
      <i class="lni lni-map-marker"></i>
      <address class="desc-text">
        58 queens ave, windsor East, randburg 2195, johannesburg, south africa
      </address>
    </div>
  </div>
</footer>
