@property --gradient-angle {
syntax: "<angle>";
initial-value: 0deg;
inherits: false;
}
:root{
/* colors */
--_main-clr: #003459;
--_main-clr-lighter: #001b2564;
--_main-clr-dark: #003459;
--_black-clr: #00171f;
--_white-clr: #e7ecef;

/* fonts */

--_main-font:"Cinzel", serif ;
--_secondary-font: "Raleway", sans-serif;

}

/* animations */

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

@keyframes spin {
  from {
    --gradient-angle: 0deg;
  }
  to {
    --gradient-angle: 360deg;
  }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1, .sub-heading, .huge-text{
   font-family: var(--_main-font);
}

p, li, button, label{
font-family: var(--_secondary-font);
}

button{
  border: 1px solid ;
  padding: .5rem 1rem;
  border-radius: 5px;
}
.sub-heading{
  max-width: 40ch;
  font-size: 3rem;
  text-decoration: underline .1rem;
  text-underline-offset: .2rem;;
  margin-bottom: 1rem;
  color: var(--_main-clr);
}

.desc-text{
  max-width: 60ch;
  margin-bottom: 1rem;
  font-size: 1rem;
  opacity: .9;
  line-height: 1.7em;
}

.huge-text{
   max-width: 40ch;
  text-transform: capitalize;
  font-size: 2rem;
 margin-bottom: 1rem;
  
}

.catalog{
  padding: 3rem 5%;
  margin: 2rem auto;
  border-radius:0 0 20px 20px;
  .box-container{
    margin: 3em auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
      
    .box{
      display: grid;
      background-color: var(--_white-clr);
      position: relative;
      border-radius: 5px;
      box-shadow: 2px 1px 5px  var(--_main-clr-lighter);
      grid-template-rows: 3fr .5fr .5fr .5fr;
      padding: 1rem .5rem;
      margin-bottom: 2rem;
      min-height: 60svh;
      width: 220px;

    /************************************** 
    borderAmination is happenning here
    ***************************************/

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        padding: 0.2rem;
        background-image: conic-gradient(
          from var(--gradient-angle),
          var(--_main-clr),
          transparent,
          var(--_main-clr-lighter),
          transparent,
          var(--_main-clr)
        );
        animation: spin 10s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
      }

      &::after {
        content: "";
        box-shadow: 1px 1px 10px 1px var(--_main-clr);
      }

      &:nth-child(even)::before {
        animation-delay: 2s;
      }
    /*************************************/

      img{
        width: 100%;
        aspect-ratio: 1;
      }
      
      .box-header{
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: .5rem;
        color: var(--_black-clr);
      }

      p{
        color: var(--_black-clr);
      }

      button{
        background: var(--_main-clr-dark);
        color: var(--_white-clr);
        &:hover{
          background: var(--_white-clr);
          color: var(--_main-clr-dark);
        }
      }
    }
  }
}

footer{
  width: 100%;
  margin: 0;
  background-image: linear-gradient(to bottom left, var(--_black-clr), var(--_black-clr));
  background-size: cover;
  color: var(--_white-clr);

  .huge-text{
    color: var(--_white-clr);
    padding-bottom: 1rem;
    border-bottom: 2px solid ;
  }

  i{
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1rem 0 .5rem ;
  }
}
  
  @media screen and (max-width: 450px){
    .nav-top{
      .logo{
        display: none;
      }
    }

    .quick-contact-details{
      flex-direction: column;
      align-items : center;
      gap: 0.5em !important;
    }
    
    .box{
      min-width: 90vw;
      
    }
    
  }

   @media screen and (max-width: 550px){
    .about-us{
      .side-by-side{
       
        display: flex;
        flex-direction: column;
        gap: 0;

        .left{
          width: unset;
          max-width: unset ;
          line-height: 1.2;
          text-align: left;
        }
  }
    }
   }


.scroller {
  overflow: hidden;
  margin: auto;
  width: 80vw;

  .scroller-inner {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
    justify-content: center;

    img {
      z-index: 2;
      width: 200px;
      aspect-ratio: 1/1;
    }
  }

  &[data-animated="true"] {
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
  }
  &[data-animated="true"] .scroller-inner {
    width: max-content;
    animation: scroll var(--_animation-duration, 30s)
      var(--_animation-direction, forwards) linear infinite;
  }

  &[data-direction="right"] {
    --_animation-direction: reverse;
  }

  &[data-direction="left"] {
    --_animation-direction: forwards;
  }

  &[data-speed="fast"] {
    --_animation-duration: 20s;
  }

  &[data-speed="slow"] {
    --_animation-duration: 40s;
  }
}
.z-2 {
  z-index: 2;
}