<header>
  <section class="hero-section">
    <h1>Access heights trading</h1>
    <p >Your Premier Partner in Industrial Solutions!</p>
    <div class="btn-container">
      <button>view catalogue</button>
      <button>contact us</button>
    </div>
  </section>
</header>

<section class="intro">
  <p class="huge-text" style="margin-bottom: 1rem;">
    Welcome to a world of excellence in industrial solutions 
  </p>

  <p class="desc-text">
    At Access Heights Trading, we <span>go beyond</span> supplying equipment –
    we deliver reliability, expertise, and unparalleled service to empower your
    success in every industrial undertaking.
  </p>
</section>

<section class="big-logo">
<img src="../assets/normalNoBg.png" alt="">
</section>


<section class="catalog">
  <p class="sub-heading">our catalog</p>
  <p class=" desc-text">
    We pride ourselves with our ability to be able source quality, durable and
    affordable products for our clients. Our sourced products are locally
    manufactured by some of the best in their industries for decades
  </p>



  <section class="box-container">

    <div class="box">
      <img src="../assets/images/Narrow Span Tower.jpeg" alt="">
      <p class="box-header ">Extension step ladders</p>
      <p class='desc'>Aluminum Lean to Ladders</p>
      <button>see more</button>
  </div>

  <div class="box">
    <img src="../assets/images/Narrow Span Tower.jpeg" alt="">
    <p class="box-header">solar power</p>
    <p>panels and inverters</p>
    <button>see more</button>
  </div>

  <div class="box">
    <img src="../assets/images/Narrow Span Tower.jpeg" alt="">
    <p class="box-header">Storage lockers</p>
    <p>secure storage anywhere</p>
    <button>see more</button>
  </div>
  <div class="box">
    <img src="../assets/images/Narrow Span Tower.jpeg" alt="">
    <p class="box-header">scaffololding systems</p>
    <p>steel and aluminum scaffolding</p>
    <button>see more</button>
  </div>
</section>
</section>

<section class="about-us">

  <div class="upper">

    <p class="sub-heading">about us</p>
    <div class="side-by-side">
      <p class="huge-text left"> a dynamic and reliable source for top quality industrial equipment and components</p>
      <div class="right">
        <p class="desc-text"> As a leading player in the industry, we specialize
          in the meticulous sourcing and supply of a diverse range of products, catering to the needs of
          various sectors.</p>
          <p class="desc-text"> Our extensive product catalog boasts an array of essential items, including scaffolding, step
            ladders, storage and gym lockers, stationery cupboards, personal protective equipment (PPE),
            mining equipment, and other heavy-duty industrial gear.</p>
            <p class="desc-text">Whether you're involved in
              construction, mining, manufacturing, or any other industrial endeavor, Access Heights Trading
              is committed to providing the right tools and solutions to enhance your operational efficiency.</p>
      </div>
    </div>
  </div>

<div class="key-words scroller" #scroller >
  <p class="sub-heading" >we focus on</p>
  <div class="slidding-text scroller-inner"><p class="huge-text" >quality</p>
  <p class="huge-text">durability</p>
  <p class="huge-text">safety</p>
  <p class="huge-text">collaboration</p>
  <p class="huge-text">reputation</p></div>
</div>
</section>