  .big-logo{
    width: 90vw;
   
    max-width: 500px;
    margin: 0 auto;
    img{
      width: 100%;
    }
  }

  header{
    .hero-section{
        height: 90svh;
        display: flex;
        flex-direction: column;
        place-content: center;
        text-align: center;

        background-color: var(--_black-clr);
        color: var(--_white-clr);

        h1{
            text-transform: capitalize;
            font-size: 3rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }
        p{
            text-align: center;
            text-transform: lowercase ;
            margin-bottom: 3rem;
        }
        .btn-container{
            display: flex;
            place-content: center;
            gap:1rem;

            button{
              
              &:first-child{
                background: var(--_black-clr);
                color: var(--_white-clr);

              }
            }

        }
    }
    
}